In [1]:
import pandas as pd

<ipython-input-1-7dd3504c366f>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
import pandas as ps

In [3]:
#Cria um dicionario com autores, preços e titulos
dictionary = {'Autores': ['Rick Riordan', 'J.R.R tolkien', 'Lucas bruder ', 'Manu Diniz'],
'Titulos' : ['O ladrão ', 'sociedade', 'Mar', 'Memorias'],
'Preços': [40, 35, 39, 41]}

In [4]:
## DataFrame
df = pd.DataFrame(dictionary)

In [5]:
df

         Autores    Titulos  Preços
0   Rick Riordan  O ladrão       40
1  J.R.R tolkien  sociedade      35
2  Lucas bruder         Mar      39
3     Manu Diniz   Memorias      41

In [7]:
df['Autores']

0     Rick Riordan
1    J.R.R tolkien
2    Lucas bruder
3       Manu Diniz
Name: Autores, dtype: object

In [9]:
df['Autores'][2]

'Lucas bruder '

In [12]:
df['Preços'].mean()

38.75

In [19]:
mascara = (df['Autores'] == 'Manu Diniz')

In [20]:
print(mascara)

0    False
1    False
2    False
3     True
Name: Autores, dtype: bool

In [21]:
df[mascara]

      Autores   Titulos  Preços
3  Manu Diniz  Memorias      41

In [26]:
df = df.append({'Autores': 'Manu Diniz','Titulo':'Amor','Preços':100000000})

<class 'AttributeError'>: 'DataFrame' object has no attribute 'append'

In [24]:
df

         Autores    Titulos  Preços
0   Rick Riordan  O ladrão       40
1  J.R.R tolkien  sociedade      35
2  Lucas bruder         Mar      39
3     Manu Diniz   Memorias      41

In [ ]:
df['Titulos